SAAS/Order add and telegram notification
{
  "name": "Alert Of Order Confirm",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7495ec91-1298-4aeb-ba9a-c3a80f72bdf8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -240
      ],
      "id": "6c71db80-153c-45bb-958e-50a5656c22a7",
      "name": "Webhook",
      "webhookId": "7495ec91-1298-4aeb-ba9a-c3a80f72bdf8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17QZreTu8RPjqkGRPsKDFw7z5RDGrA84u-7c75qQKrmY",
          "mode": "list",
          "cachedResultName": "GadgetGrid Order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17QZreTu8RPjqkGRPsKDFw7z5RDGrA84u-7c75qQKrmY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17QZreTu8RPjqkGRPsKDFw7z5RDGrA84u-7c75qQKrmY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "email": "={{ $json.body.email }}",
            "phone": "={{ $json.body.phone }}",
            "address": "={{ $json.body.address }}",
            "qty": "={{ $json.body.qty }}",
            "product": "={{ $json.body.product }}",
            "price": "={{ $json.body.total_price }}",
            "timestamp": "={{ $json.body.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product",
              "displayName": "product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -240
      ],
      "id": "6e889c18-8e85-4672-a62f-957da334dfa4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsdEGh1TxmRsglWT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your Order Confirmation 🎉",
        "message": "=<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, sans-serif;\n      background-color: #f4f6f8;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      padding: 10px;\n    }\n    .message-box {\n      background: #ffffff;\n      padding: 25px;\n      border-radius: 12px;\n      margin-bottom: 15px;\n      text-align: center;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n    .message-box h2 {\n      margin: 0;\n      color: #4CAF50;\n    }\n    .message-box p {\n      color: #555;\n      margin-top: 10px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px;\n      box-shadow: 0 6px 15px rgba(0,0,0,0.1);\n    }\n    .card-header {\n      font-size: 18px;\n      font-weight: bold;\n      margin-bottom: 15px;\n      color: #333;\n      text-align: center;\n    }\n    .row {\n      display: flex;\n      justify-content: space-between;\n      padding: 10px 0;\n      border-bottom: 1px solid #eee;\n      font-size: 14px;\n    }\n    .row:last-child {\n      border-bottom: none;\n    }\n    .label {\n      color: #666;\n    }\n    .value {\n      color: #222;\n      font-weight: 600;\n    }\n    .highlight {\n      color: #4CAF50;\n      font-size: 16px;\n    }\n    .footer {\n      text-align: center;\n      margin-top: 15px;\n      font-size: 12px;\n      color: #888;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n\n```\n<!-- Friendly Message -->\n<div class=\"message-box\">\n  <h2>✅ Order Confirmed!</h2>\n  <p>\n    Hi {{ $json.Name }}, <br><br>\n    Thank you for your order! We’ve successfully received your request and our team is getting it ready.  \n    Below are your order details:\n  </p>\n</div>\n\n<!-- Order Details -->\n<div class=\"card\">\n  <div class=\"card-header\">🛒 Order Summary</div>\n\n  <div class=\"row\">\n    <span class=\"label\">Product: </span>\n    <span class=\"value\">{{ $json.product }}</span>\n  </div>\n\n  <div class=\"row\">\n    <span class=\"label\">Quantity: </span>\n    <span class=\"value\">{{ $json.qty }}</span>\n  </div>\n\n  <div class=\"row\">\n    <span class=\"label\">Total Price: </span>\n    <span class=\"value highlight\">{{ $json.body.price }}</span>\n  </div>\n\n  <div class=\"row\">\n    <span class=\"label\">Delivery Address: </span>\n    <span class=\"value\">{{ $json.address }}</span>\n  </div>\n\n  <div class=\"row\">\n    <span class=\"label\">Contact Number: </span>\n    <span class=\"value\">{{ $json.phone }}</span>\n  </div>\n</div>\n\n<!-- Footer -->\n<div class=\"footer\">\n  If you have any questions, feel free to reply to this email. <br>\n  Thank you for shopping with us ❤️\n</div>\n```\n\n  </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        384,
        -240
      ],
      "id": "771cb481-aaac-4ed7-bb53-1f11631c8a57",
      "name": "Send a message",
      "webhookId": "81914353-74a8-49b3-a1d9-f81dd415f9d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "TphrhsvBh8EyXO2n",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1153426888",
        "text": "=🔥 *NEW ORDER ALERT* 🔥\n\n━━━━━━━━━━━━━━━\n👤 *Customer Details*\n• Name: {{ $('Append row in sheet').item.json.Name }}\n• Phone: {{ $('Append row in sheet').item.json.phone }}\n• Address: {{ $('Append row in sheet').item.json.address }}\n\n━━━━━━━━━━━━━━━\n🛒 *Order Info*\n• Product: *{{ $('Append row in sheet').item.json.product }}*\n• Quantity: x{{ $('Append row in sheet').item.json.qty }}\n• Total: 💰 *{{ $('Append row in sheet').item.json.price}}*\n• Ordered On: {{ $('Append row in sheet').item.json.timestamp }}\n\n━━━━━━━━━━━━━━━\n⚡ *Action Needed*\nPlease confirm & process this order ASAP.\n\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -240
      ],
      "id": "47fca984-d9a3-46d7-bee1-2e3de03a6b72",
      "name": "Send a text message",
      "webhookId": "4e9200ca-15d7-4487-9508-85ee33c6c8e7",
      "credentials": {
        "telegramApi": {
          "id": "MYGAyUmm4Uik198l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        -240
      ],
      "id": "4ee79f17-5c64-4eb5-9a14-494f6b5bd088",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "L1wrhjYVQVFS3brV"
  },
  "versionId": "2e0caaf8-2ec3-4216-a466-e4e8ca0d245b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "574b9c83125ceee43826b2c8ff2e9c3b344bef6dd0ea5b451e3789ea4539d04c"
  },
  "id": "Tc1vurxWtwKgn54l",
  "tags": [
    {
      "updatedAt": "2026-04-16T09:27:41.522Z",
      "createdAt": "2026-04-16T09:27:41.522Z",
      "id": "2XEqZzfeTvEar0a2",
      "name": "RAG"
    },
    {
      "updatedAt": "2026-04-16T18:01:48.441Z",
      "createdAt": "2026-04-16T18:01:48.441Z",
      "id": "2ZeI46GZZCJXNaeh",
      "name": "SAAS Project"
    }
  ]
}
